.grasaBg-container {
  background-image: url(../images/grasa.webp);
  width: 100%;
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(40,40,40);
  background-blend-mode: soft-light;
  display: flex;
  align-items: center;
}

.grasa-container {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
  height: auto;
}

.container {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.images-grasa-container {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

.img-grasa {
  width: 50%;
  height: auto;
  cursor: pointer;
}

.modalGrasa {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; 
}

.modalGrasa2 {
  position: relative;
  width: 40%;
  height: 100%;
  background-image: url(../images/bgmodal.webp);
  background-color: rgb(30,30,30);
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: justify;
  overflow: hidden;
  padding: 1rem;
}

.modalGrasa .grasa-Img2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-box-shadow: 2px 6px 98px rgba(250,250,250,0.75);
  -moz-box-shadow: 2px 6px 98px rgba(250,250,250,0.75);
  box-shadow: 2px 6px 98px rgba(250,250,250,0.75);
  border-radius: 10px;
}

.modalGrasa a {
  position: absolute;
  top: 1px;
  right: 5px;
  border-radius: 10px;
  padding: 2px;
  font-size: 1.5em;
}

/** MEDIA QUERIES **/

@media screen and (max-width: 540px) {
  .grasaBg-container {
     height: 40vh;
  }

  .modalGrasa2{
  width: 100%;
  }

  .modalGrasa .grasa-Img2 {
  width: 100%;
  }

  .images-grasa-container {
  width: 100%;
  }
  
}