.header-container {
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 1s;
	background-color: #000;
}

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-container {
	margin-right: 25px;
}

.navbar-toggler {
	background-color: rgb(222, 203, 108);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid	black;
}

.navbar-toggler-icon {
	background-color: rgb(222, 203, 108);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.collapse {
	font-family: 'Titillium Web', sans-serif;
}

.navbar-collapse {
	transition: 1s;
	text-align: center;
}

.nav-item {
	margin-right: 50px;
	text-align: center;
}

.nav-item a {
	color: #fff;
	font-size: 1.1em;
}

.nav-item a:hover {
	color: rgb(222, 203, 108);
}

.social-containerH i {
	color: rgb(222, 203, 108);
}

/** MEDIA QUERIES**/

@media screen and (max-width: 992px) {
	.nav-item {
		margin-right: 0;
		text-align: center;
}
}

