.header-container {
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 1s;
}

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Alegreya Sans SC', sans-serif;
}

.logo-container {
	margin-right: 25px;
}

.navbar-toggler {
	background: rgb(235, 118, 9);
	background: linear-gradient(343deg, rgba(235, 118, 9, 1) 12%, rgba(230, 235, 13, 1) 82%);
	margin-right: 15px;
	border-radius: 5px;
}

.navbar-toggler-icon {
	background-color: transparent;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar-collapse {
	transition: 1s;
	text-align: center;
}

.nav-item {
	margin-right: 50px;
	text-align: center;
}

.nav-item a {
	color: #fff;
	font-size: 1.1em;
	transition: 1s;
}

.nav-item a:hover {
	color: #fff;
	transform: scale(1.1);
}



.social-containerH {
	display: flex;
	border-left: 2px solid #958F8F;
	padding-left: 48px;
	height: auto;
	align-items: center;
	justify-content: center;
}

.red-logo {
	width: 30px;
	cursor: pointer;
}

.red-logo1 {
	margin-left: 15px;
	width: 30px;
	cursor: pointer;
}



.red-logo2 {
	margin-left: 15px;
	width: 30px;
	cursor: pointer;
}



/** MEDIA QUERIES**/

@media screen and (max-width: 992px) {
	.nav-item {
		margin-right: 0;
		text-align: center;
	}
}

@media screen and (max-width: 912px) {
	.social-containerH {
		border-left: none;
	}
}

@media screen and (max-width: 540px) {

	.logo-container img {
		margin-left: 10px;
	}

	.navbar {
		flex: 2;
	}

	.logo-container {
		flex: 1;
	}

	.social-containerH {
		padding-left: 0;
		margin-top: 12px;
	}

}