.header-container {
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 1s;
	background-color: #000;
}

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Russo One', sans-serif;
}

.logo-container {
	margin-right: 25px;
}

.navbar-toggler {
	background-color: rgb(222, 203, 108);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid	black;
}

.navbar-toggler-icon {
	background-color: rgb(222, 203, 108);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar-collapse {
	transition: 1s;
	text-align: center;
}

.nav-item {
	margin-right: 50px;
	text-align: center;
}

.nav-item a {
	color: #fff;
	font-size: 1.1em;
	transition: 1s;
}

.nav-item a:hover {
	color: #FC1F00;
}

.social-containerH {
	display: flex;
	border-left: 2px solid #958F8F;
	padding-left: 48px;
	height: auto;
	align-items: center;
	justify-content: center;
}

.red-logo {
	width: 30px;
	transition: 1s;
}
.red-logo:hover {
	transform: scale(1.1);
}
.red-logo1 {
	margin-left: 15px;
	width: 30px;
	transition: 1s;
}

.red-logo1:hover {
	transform: scale(1.1);
}

.red-logo2 {
	margin-left: 15px;
	width: 30px;
	transition: 1s;
}

.red-logo2:hover {
	transform: scale(1.1);
}

/** MEDIA QUERIES**/

@media screen and (max-width: 992px) {
	.nav-item {
		margin-right: 0;
		text-align: center;
	}
}

@media screen and (max-width: 912px) {
	.social-containerH {
		border-left: none;
	}
}

@media screen and (max-width: 540px) {

.navbar {
	flex: 2;
}

	.logo-container {
		flex: 1;
	}

	.social-containerH {
		padding-left: 0;
		margin-top: 12px;
	}

}

