.sectionImg-container {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;	
	margin: 1px;
}

.guitar-container {
	display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  height: auto; /* establece la altura deseada */
}

.guitar {
	height: 100vh;
	width: 100%;
	margin-top: 5px;
	object-fit: cover;
}

.guitars{
	margin-top: 5px;
	padding: .5px;
	object-fit: cover;
	width: 100%;
  height: 100%;
  text-align: center;
}

.line {
   color: rgb(222, 203, 108);
}

/** MEDIA QUERIES **/
@media screen and (max-width: 280px) {
	.guitar{
		height: 75vh;
		width: 100%;
		object-position: 83% 55%;
	}
}

@media screen and (max-width: 1280px) {
  .guitar-container {
    display: flex;
    flex-direction: column;
  }

  
}



