.footer-container {
  height: 14vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: #000;
  
}

.logoFooter {
  margin-top: -10px;
}

.logo-social-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.social-containerF i {
  color: rgb(222, 203, 108);
  margin: 8px;
  font-size: 1.1em;
  transition: 1s;
}

.logo-social-container .social-container {
  margin-top: 8px;
}

.footer-container p {
	font-size: .8em;
	color: #B6B2B3;
}

.bi-arrow-up-circle {
  margin-top: -10px;
  color: rgb(222, 203, 108);
  transition: 1s;
  font-size: 1.5em;
}

.bi-arrow-up-circle:hover {
  color: #c80a39;
  cursor: pointer;
}

.logos-cont {
  display: flex;
  flex-direction: row;
  
}

.graceful {
 margin-top: 10px;
 
}

.logos1 {
  object-fit: contain;
  padding: 20px;
}

.credit {
  text-align: center;
  font-size: .9em;
}


/** MEDIA QUERIES **/

@media screen and (max-width: 1024px) {
  .footer-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: auto;
  }

  .logoFooter {
    margin-left: 12px;
  }

  .logos-cont{
    margin-left: 0;
  }
}

@media screen and (max-width: 540px) {
  .graceful {
   margin-top: 10px;
   margin-bottom: -15px;
   margin-right: 0;

  }

 
}

