.signatureBg-container {
  background-image: url(../images/baltasarcomottovivo.webp);
  width: 100%;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(40,40,40);
  background-blend-mode: soft-light;
  display: flex;
  align-items: end;
  justify-content: center;
}

.signature-container {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.signatureTitle  {
  color: #fff;
  font-size: 5em;
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.container {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.images-signature-container {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

.img-signature {
  width: 50%;
  height: 50%;
  cursor: pointer;
}

.modalSignature {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Agregar un valor alto de z-index */
}

.modalSignature2 {
  position: relative;
  width: 40%;
  height: 100%;
  background-image: url(../images/bgmodal.webp);
  background-color: rgb(30,30,30);
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: justify;
  overflow: hidden;
  padding: 1rem;
}

.modalSignature .signature-Img2 {
  width: 80%;
  height: 100%;
  object-fit: cover;
  -webkit-box-shadow: 2px 6px 98px rgba(250,250,250,0.75);
  -moz-box-shadow: 2px 6px 98px rgba(250,250,250,0.75);
  box-shadow: 2px 6px 98px rgba(250,250,250,0.75);
  border-radius: 10px;
}

.features-list {
  margin-right: 40px;
  margin-bottom: 10px;
  line-height: 1.2;
  border-bottom: 1px solid #360B6A;
  color: #fff;
}

.modalSignature a {
  position: absolute;
  top: 1px;
  right: 5px;
  border-radius: 10px;
  padding: 2px;
  font-size: 1.5em;
}

.bi-x-circle {
  transition: 1s;
  color: #E8EC09;
}

.bi-x-circle:hover {
  color: #F74507;
}

.back-button {
  text-align: center;
  font-size: 1.5em;
}

.back-button p{
  text-align: center;
  margin-top: 15px;
  font-family: 'Alegreya Sans SC', sans-serif;
}


/** MEDIA QUERIES **/

@media screen and (max-width: 540px) {
  .signatureBg-container {
     height: 50vh;
  }

  .signatureTitle {
    font-size: 2em;
  }

  .images-signature-container {
    width: 100%;
  }

  .modalSignature2{
    width: 100%;
  }

  .modalSignature .signature-Img2 {
    width: 100%;
  }

}

@media screen and (max-width: 280px) {
  .signatureTitle {
    font-size: 1.5em;
  }

  .characteristics h3 {
    font-size: 1.5em;
  }
}